Package: com.skylerk99.fitpusher
Name: FitPusher
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Push any notifications to fitbit trackers (Surge and Blaze).
Maintainer: Skyler Kansala <skylerk99@gmail.com>
Author: Skyler Kansala <skylerk99@gmail.com>
Section: Tweaks
Version: 0.0.4
Installed-Size: 512
